body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white;
    color:  #121212;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.image-container img {
    width: 400px;
    border-radius: 10px;
}

.content {
    max-width: 500px;
    margin-left: 50px;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.explore {
    background-color: white;
    color: black;
}

.play {
    background-color: gray;
    color: white;
} 
